*,
::before,
::after {
  border-color: inherit;
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

:root {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

html {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -.01em;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

body {
  margin: 1rem 1rem 0;
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  margin-top: 0;
}

p {
  margin-bottom: 1rem;
  margin-top: 0;
}
